body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.6rem;
  margin: 0;
  padding: 0;
  background: black;
}
#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  color: #fff;
  background: #333;
  padding: 1%;
  width: 100%;
}
h3 {
  margin: 2% 0 2% 0;
  padding: 1%;
}
h5 {
  margin: 1% 0;
  padding: 1%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #333;
  width: 100%;
}
header i {
  color: #aaa;
  font-size: 50%;
}
article {
  display: flex;
  flex-direction: column;
  color: black;
  background: #eee;
  margin: 1%;
  padding: 2%;
  max-width: 400px;
  border-radius: 1em;
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;

}
header div img.logo {
  height: 7em;
  /* margin: 1em; */
}
img {
  margin: 1%;
}
p{
  margin: 0;
}
footer {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1%;
}
@media (max-width: 500px) {
  body {
      flex-direction: column;
  }
}
a{
  text-decoration: none;
}
a:hover {
  color: orange;
}
a:visited {
  color: gray;
}
a:link {
  color: green;
}